body {
  /* display: grid;
  place-content: center; */
  /* width: 100vw; */ 
  background-color: hsl(0, 0%, 87%);
  padding-top: 2.5vh;
  --room-width: 20vw;
  --chat-width: 50vw;
  --users-width: 20vw;

  /* rooms variables */
  --clr-rooms-title: hsl(188, 98%, 40%);
  --clr-room-selector-bg: hsl(225, 60%, 89%);
  --clr-add-room-button: hsl(188, 98%, 40%);
  --clr-room-button: hsl(0, 0%, 95%);
  --clr-room-button-hover: hsl(215, 88%, 65%);
  --clr-current-room-button: hsl(215, 83%, 63%);
  
  /* chat variables */
  --clr-bg: hsl(0, 0%, 95%);
  --clr-chat-top-row-container: hsl(188, 72%, 61%);
  --clr-sign-out-button: hsl(188, 98%, 40%);
  --clr-msg-bg: hsl(211, 60%, 66%);
  --clr-msg-bg-sent: hsl(188, 72%, 61%);
  
  /* users variables */
  --clr-user-list-title: hsl(188, 98%, 40%);
  --clr-user-list-bg: hsl(225, 60%, 89%);

  /* other */
  --clr-deletion-button: hsl(0, 71%, 60%);
}

.App {
  display: grid;
  place-content: center;
}

.main-container {
  display: grid;
  grid-template-columns: var(--room-width) var(--chat-width) var(--users-width);
  border-radius: 10px;
  overflow: hidden;
}

/* Rooms */

.room-selector-container {
  display: grid;
  grid-template-columns: var(--room-width);
  grid-template-rows: 5% 89% 6%;
  background-color: var(--clr-room-selector-bg);
}

.rooms-title {
  display: flex;
  font-weight: 550;
  background-color: var(--clr-rooms-title);
  padding: 0px 0px 0px 40%;
}

.delete-room-button {
  height: 100%;
  width: 85px;
  background-color: var(--clr-deletion-button);
  border: 0;
  padding: 0;
  margin-left: auto;
}

.delete-room-container {
  margin-left: auto;
}

.room-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.room-button-container {
  height: 50px;
  width: 100%;
}

.room-button {
  height: 50px;
  width: 100%;
  overflow: auto;
  border: none;
  background-color: var(--clr-room-button);
}

.room-button:hover {
  background-color: var(--clr-room-button-hover);
}

.room-button.current {
  background-color: var(--clr-current-room-button);
}

.add-room-button {
  width: var(--room-width);
  height: 100%;
  background-color: var(--clr-add-room-button);
  border: 0;
  padding: 0;
}

/* chat */

.chat-room {
  width: var(--chat-width);
  height: 600px;
  display: grid;
  grid-template-columns: var(--chat-width);
  grid-template-rows: 5% 89% 6%;
  background-color: var(--clr-bg);
}

.chat-top-row-container {
  display: flex;
  background-color: var(--clr-chat-top-row-container);
  font-weight: 550;
  padding: 0px 0px 0px 30%;
}

.sign-out {
  padding: 0;
  border: 0;
  width: 80px;
  background-color: var(--clr-deletion-button);
  margin-left: auto;
}

.room-id {
  margin: 0;
}

.message-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin: 5px;
}

.message-photo:hover {
  scale: 1.1;
}

.message {
  display: flex;
  align-items: center;
}

.message-text {
  background-color: var(--clr-msg-bg);
  margin: 4px;
  max-width: 400px;
  height: fit-content;
  word-break: break-all;
  white-space: normal;
}

.text {
  max-width: 100%;
  padding: 0px 10px 3px 10px;
  border-radius: 20%;
  text-align: center;
  margin: 5px 0px;
}

.message-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.sent {
  align-self: flex-end;
  flex-direction: row-reverse;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.message-text.sent {
  background-color: var(--clr-msg-bg-sent);
}

.received {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.send-message-container {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  width: var(--chat-width);
  height: 100%;
}

.message-input {
  width: calc(var(--chat-width) * 0.85);
  height: 100%;
  font-size: 1.2rem;
  outline: none;
  border: none;
  padding: 0px 10px 0px 10px;
}

.submit-message-button {
  width: calc(var(--chat-width) * 0.15);
  height: 100%;
  padding: 0;
  border: 0;
}

/* user */

.user-list-container {
  display: grid;
  grid-template-columns: var(--users-width);
  grid-template-rows: 5% 81% 14%;
  background-color: var(--clr-user-list-bg);
}

.user-list-title {
  text-align: center;
  font-weight: 550;
  background-color: var(--clr-user-list-title);
}

.user-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.user-button-container {
  height: 40px;
}

.user-button {
  display: flex;
  height: 40px;
  width: 100%;
  border: none;
  align-items: center;
  gap: 20px;
  padding: 0px 0px 0px 0px;
}

.user-button-image {
  width: 40px;
  height: 40px;
}

.add-remove-container {
  height: 100%;
}

.add-remove-name {
  width: var(--users-width);
  height: 36%;
  border: none;
  outline: none;
  font-size: 1.1rem;
  padding: 0px 10px 0px 10px;
}

.add-remove-clear-buttons-container {
  height: 64%;
}

.add-remove-buttons-container {
  height: 50%;
}

.add-remove-buttons-container, .clear-button-container {
  height: 50%;
}

.add-button, .remove-button {
  width: calc(var(--users-width) / 2);
  height: 100%;
  padding: 0;
  border: 0;
  word-wrap: break-word;
}

.remove-button {
  background-color: var(--clr-deletion-button);
}

.clear-button {
  width: var(--users-width);
  height: 100%;
  padding: 0;
  border: 0;
}

/* sign in */

.sign-in-container {
  display: grid;
  place-items: center;
}

.username-input {
  width: 200px;
  height: 25px;
}

/* other */

button:hover {
  cursor: pointer;
  filter: brightness(125%);
}

.empty-space {
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 95%);
}