body {
  display: grid;
  place-content: center;
  background-color: hsl(0, 0%, 87%);
  --room-width: 300px;
  --chat-width: 600px;
  --users-width: 300px;
  --outer-row-height: 40px;

  /* rooms variables */
  --clr-rooms-title: hsl(188, 98%, 40%);
  --clr-room-selector-bg: hsl(226, 83%, 53%);
  --clr-add-room-button: hsl(188, 98%, 40%);
  --clr-room-button: hsl(0, 0%, 95%);
  --clr-room-button-hover: hsl(215, 80%, 56%);
  --clr-current-room-button: hsl(215, 80%, 56%);

  /* chat variables */
  --clr-bg: hsl(0, 0%, 95%);
  --clr-chat-top-row-container: hsl(188, 72%, 61%);
  --clr-sign-out-button: hsl(188, 98%, 40%);
  --clr-msg-bg: hsl(211, 60%, 66%);
  --clr-msg-bg-sent: hsl(188, 72%, 61%);

  /* users variables */
  --clr-user-list-title: hsl(188, 98%, 40%);
  --clr-user-list-bg: hsl(0, 0%, 95%);
}

.App {
  width: calc(var(--room-width) + var(--chat-width) + var(--users-width));
  height: 600px;
  /* border: 1px black solid; */
  background-color: var(--clr-bg);
  border-radius: 1%;
  overflow: hidden;
}

.main-container {
  display: grid;
  grid-template-columns: var(--room-width) var(--chat-width) var(--users-width);
}

/* Rooms */

.room-selector-container {
  display: grid;
  grid-template-columns: var(--room-width);
  grid-template-rows: 30px 530px 40px;
  background-color: var(--clr-room-selector-bg);
}

.rooms-title {
  text-align: center;
  font-weight: 550;
  background-color: var(--clr-rooms-title);
}

.room-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.room-button-container {
  height: 50px;
  width: 100%;
}

.room-button {
  height: 50px;
  width: 100%;
  overflow: auto;
  border: none;
  background-color: var(--clr-room-button);
}

.room-button:hover {
  background-color: var(--clr-room-button-hover);
}

.room-button.current {
  background-color: var(--clr-current-room-button);
}

.add-room-button {
  width: var(--room-width);
  height: var(--outer-row-height);
  background-color: var(--clr-add-room-button);
  border: 0;
  padding: 0;
}

/* chat */

.chat-room {
  width: var(--chat-width);
  height: 600px;
  display: grid;
  grid-template-columns: var(--chat-width);
  grid-template-rows: 30px 530px 40px;
}

.chat-top-row-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-chat-top-row-container);
  font-weight: 550;
}

.sign-out {
  padding: 0;
  border: 0;
  width: 80px;
  background-color: var(--clr-sign-out-button);
}

.room-id {
  margin: 0;
}

.message-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin: 5px;
}

.message {
  display: flex;
  align-items: center;
  background-color: var(--clr-msg-bg);
  margin: 4px;
  max-width: 400px;
  height: fit-content;
  word-break: break-all;
  white-space: normal;
}

.text {
  max-width: 100%;
  padding: 5px 10px 5px 20px;
  border-radius: 20%;
  text-align: center;
  margin: 10px 0px;
}

.message-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.sent {
  align-self: flex-end;
  flex-direction: row-reverse;
  background-color: var(--clr-msg-bg-sent);
}

.send-message-container {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  width: var(--chat-width);
  height: var(--outer-row-height);
}

.message-input {
  width: calc(var(--chat-width) * 0.85);
  height: var(--outer-row-height);
  font-size: 1.2rem;
  outline: none;
  border: none;
  padding: 0px 0px;
}

.submit-message-button {
  width: calc(var(--chat-width) * 0.15);
  height: calc(var(--outer-row-height));
  padding: 0;
  border: 0;
}

/* user */

.user-list-container {
  display: grid;
  grid-template-columns: var(--users-width);
  grid-template-rows: 30px 500px 70px;
  background-color: var(--clr-user-list-bg);
}

.user-list-title {
  text-align: center;
  border: 1px black solid;
  font-weight: 550;
  background-color: var(--clr-user-list-title);
}

.user-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.user-button-container {
  height: 50px;
}

.user-button {
  height: 50px;
  width: 100%;
  border: none;
}

.add-remove-name {
  width: var(--users-width);
  height: 25px;
  padding: 0;
  border: none;
  outline: none;
  font-size: 1.1rem;
}

.add-remove-buttons {
  width: calc(var(--users-width) / 2);
  height: 20px;
  padding: 0;
  border: 0;
}

.clear-button {
  width: var(--users-width);
  height: 20px;
  padding: 0;
  border: 0;
}
